
@font-face {
  font-family: 'Bittypix-Countdown';
  src: url('Bittypix-Countdown.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bittypix-Countdown';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAx0AAoAAAAAefQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABXAAAAEEA
AABgkHimTGNtYXAAAAHsAAABpAAAAliw56uLZ2x5ZgAABTgAAAV4AABu0EERND5oZWFkAAAA9AAA
AC8AAAA2FgGxJmhoZWEAAAEkAAAAHQAAACQZxwquaG10eAAAAaAAAABJAAABqjxnFjJsb2NhAAAD
kAAAAagAAAGoU/dvcG1heHAAAAFEAAAAGAAAACAA2wBWbmFtZQAACrAAAAGvAAAD0Hn1pt9wb3N0
AAAMYAAAABMAAAAgAZwAzHjaY2BkYGAAYvUe/93x/DZfGZgEGEDgOssiXQi9URJEczwWeAyiGJhA
PAD5xQioAHjaY2BkYBB4zAAEnMeBxBOOxwyMDKiACQBWXQOXAAAAeNpjYGRgYLjMEMLAzgACTAxo
AAAfdwEyeNpjYOY8zjiBgZWBgQMIQQBCA/EZZmMQn4UBDpgZkIBbcEgQgwODgqKSAJgv8BhMMYII
fhl+GSClwMAAAC+9BfcAAAB42uM8zsDACcTogDUUSDyGch5DWGhiCPCYEYsJGKpwg8cIO0jXD3QV
UC/YbZj6HkPNRvEHXD1xrqM+wG0v0F0oPkFyPwCo7xzQAAAAeNpt0uWLFFAUBfDfoK7dq661zq6u
3d3da3c3YhdYKGJ3YayYuHbsrt0Kiomt38VB/5DxOQ7iBy+8c7nn1nmPh0L+nBoiftuhEEUScWGr
gq+mXGBKWCceWRxZlX4qmhpNj0ajmdGO0byMzHg81ETlRhYlc2mJXIc/ufjP+LP4yHj2j7qxG7GC
WH4sL5YTy/p+Pbnr/5YSeZGY+S3sLayIFEUVUzxoKKmU0sooGzSVV0FFqSqprIo0VYPS6kF1Telq
he4MmWqrI0td9dTXQEONNNZEU80010JLrbTWRlvttNdBR5101kVX3XTXQ0+99NZHX/30N8BA2QYZ
bIihhhluhJFGGW2MscYZb4KJJplsiqmmmR7usMVW2+10wBEnnZHrrPPOueCSKy67Kk+BfNdcd9Nt
t9xxz12PPPTYEx8sNdMsc3y00mmLzfPVcnPD7G2OBlyWeLHZVvzzfvOtCXjRA+vNsPAvv8DahN9g
s5wk99Jb77zy2v0QPfU84BeffP7b9cb7gJvsstFuO+y1z357wj85HPiDjjvhWLJ2SdKv/gUhzW1p
AAAAbgBuAG4AbgCSALYBJAF0AaYCFAIqAmwCrAMaA0wDYAN2A4oDvAQaBD4EjgTeBSAFcAXQBgQG
cgbQBvQHGAdKB24HoAfiCEAIoAkOCVAJrgn+CkAKkArgCwQLNguGC7gMCAxYDLYNBg1kDcQOFA5G
DpYO5g82D4YP1hAmEGgQnBDcEQ4RIhE4EZYR5hIYEmgSxhMIE2YTqBPME/4UThRyFKQU1hUWFWYV
uBXcFiwWbhagFtIXBBdUF6QX9Bg2GFoYmhiwGNQZFhlmGdQaJBpIGrYazBs6G5gbyhvuHAQcchyI
HModOB2IHdgd7h4wHoIemB66Ht4fIB9SH8AgLiCcINwhPCGcIfwiXCK8IxwjiiPMJBwkbCS8JQwl
MCVUJXglnCYKJlomuCcWJ3Qn0igwKIAo3ikuKX4pzioeKm4qvissK4or6CxGLKQtAi1gLc4uAC5e
LrwvGi94L5wvwC/kMAgwZjCYMNgxGDFYMZgx2DHuMi4yYDKSMsQy9jNGM5Yz5jQ2NGg0uDUmNTw1
UjVoNXw1kjW2Ndo1/jYwNkY2eDaqNvo3aHja7V1LbtswEKUsO1ZRIE0gGEUBd2EIXnsRCEgRdN0D
FDlIc5AexDmIcw/yEEnQRSmKkiiRw4+s2JTMJE1UWyAf5z/DoYWWiH4l6Aajz+grytAOPaBf6DdC
d3nxvVnd0e/tbfH77jZbZatNnuXZLXv3NqLX5T3ZKtLck9F7itcxwbNnTF4JvcDk6kfxm7wdCJn/
oX9fxFff99Ul+1l+J+TfE30dx38JecXFW/Q/JDp031k8EjYAXdaM/sOz/Q1ia0O5gDAWrnE9C6nn
SVB1VY6TYEojPs63SL1SEX4iIabjTJnWC8XaWuv6GZnXosCvgh0dWnhhnAK+uJCFmodZWxpSAU/a
5Sgp5y5HqonTTNYweMr8jRaPtQ6gSMC0XHOBb+gwL+iwXAt0ACkQ67nPV4dVbJdVVYBLMeAOL0Bp
jPUU5jKgIGS14gTJBJuyLDBdovw16lLUtbKkBUmhTLXVjUrbnTB5yyVrLdxHkSzXnw6VXNZz8+UX
8lmMXchwIRPL9Wxf3CvygdOvHPo0tuJKKR920tFXIl6RgyQ0aiVJwGzxKNAHbXO1LnHLwIkhK4vZ
Z2wt6A6vusUMYLUya1o+DffzaamFRanUU2tZtPCYnRXldNfmhY0V4TxS2wpstgre+/1j9Mwerdby
An7LCj61RZjxuMIPapuIqqV5gmjB7mrS/spCBmykdOOg1dpFuIAfMIcZZJy4jO2Yv2XyaGOvlXYZ
sMQMKxbmaM0QyaO+P4vjCe4exdGhyNwarBsbjlNtne0J+8JvB4znT4QAjBNssBBn5u5eC3JWVm7K
1calR2krcdBSCwG/kujHsOfDWRpbA9PLtEzabvqQx405Tl5I9Htw10pbTQSoqosu5jyPs7BdGkQg
EBsIbjkAxF1bjhoiMZUELqQY++E462RWXQdlHdKvl7kOUvl1qFoiV0jAyghC/tOSxzZqGmxhykoW
DrRsDQ2wFQ0cPRxguBxMlvf4xu4PtLRN+0Q3xCqqsXH4Y6bt2OPIUeyfCLEC6GkkqmF1VKBwthUN
0DGxwEb2TzqJs5Y0gUcBX398Pvt/I/1cq0TmypB1RQi5xspnqJf7kC9Kezc2FXF1FVzDlfPvL8a8
J6G2x1BXAuTFqrnkToV6Etv9Mnrf9T3nOxLnm/E5ru+HrsenfSokxK0yos7ne9lXeE/UWM+xLuCc
pjY7CA1Sk49pc8yaUyOvhfpQjxnzXoliPzR310hQEW1UMNRjvKxtsXU2dtFmjaq1gOhPM8e81M16
jp275dVaW4Od9b5+ocS3PSLr13ZHSPvq9j2pzd5mDnvlxhkr3LD39YJ5p5a6c/fBOl9rdK5VLkBp
lBjrucacF9CMCc0RcvOQm390bj5U3+C5c2+XntPh1nx+/vm+n30J5yt8tX9DxeqTPkPhUCe78H5M
b2uAp+p/bHJJMIPpZCdyd6KLnwp6V8dJy3U7tnBdXaRdSEVzDeKLPicYznxoe30dZVlXD01tszii
zd7MeZHvNRmneL6UD56Lg5Ihcr3D30FzgrPbKl6nVvtDSFdUOgG32E/aHoa1jbg3vm1bXb2YxnMZ
Pdbo+90C/oA/4A/nnsK5p3HWWgO+aePz7dyxb+NMvUYTzgB93DmVgD1gvxTsvveVjP58eTiPFPD5
is+Tnixfz2uEPX4/9/gD9oA9YB8H9ql/zupH9xqN/bPDAvaA3QV7qGvqxxl7b+bUz+CF+S97fpde
tXNjDefv/DvjF+o1/es106XfaeqFQcYnf87C/lkcDs+TcbrX+rkhKKni5dZnJ7H7mg9FQgM+/2nA
cYo4N1HE+tA4qmGqZwt8WbNxNnBffhXNb7rPiyhYH71ARxfeDm4ycYp6xyn61cM52bPZoP8MVQWU
eNqNU8tOwkAUPa1oxPhY6MIFJl2w0ARaMOKLaEQNRuOKGFduSilYRYsUBfwCP8WFX+DHGc/cjtr4
CplMe7j33HPP3A4A5vCKMRipNIAL7hgbyH5iE7PMxHgMu7jSOJXgjKOHZ40nkDUyGk8iZ3zE01gw
9jSewplxpvE0nj45M1g3CxrPomo2NZ5HzXyJsQEsmm/YR8CePQzRIRrAwgFC3OOWsQZRn8jCMjys
SO4SPu6Y99HlbjB2TMY136dSYROtooAiNlEjo0VuGy7Zo3TaxrkoR2SE0rlIxQLXX/EyKtTrMt6W
zmvIJRyUURV+j72UX5coJFL1SqEkKrbUrXJZWCfKoy5evzvO/+L4iJo3VD7kfuDTxa2VGeWs1hKj
dTJGm+ql6HU4IYerqU8VcXdZ5/Ft8xnSy+/ZeG4RsxG1lAOHEyhxb3BtcVaOPnXyvN6P8/7n9WPW
ynXAWl86+tIxdh9p/94PFZsVSuXLfZ5fNKniUD/gjH2ZW8CbZYmCS861VKvII/Mdqg/ltlj8l4XU
UZ5uZNZ98geioLpW+LuPEyq0OYseb1kLO9h5B1ksl18AeNpjYGYAA8aZDGcYsAAAHxABagA=) format('woff'), url('Bittypix-Countdown.ttf')  format('truetype'), url('Bittypix-Countdown.svg#Bittypix-Countdown') format('svg');
  font-weight: normal;
  font-style: normal;
}


