/* div div div {
  margin-top: 0.9%;
  padding: 0.5% ;
}
div div div input{
  margin-bottom: 0.9%;
  margin-left: 1%;
}
div div div .Name{
  margin-left: 0.1%;
}
.hidden {
  display: none;
}
.create{
  position: relative;
  top: 3%;
  left: 30%;
} */
.through{
text-decoration:line-through;
}